<!doctype html> 

{% extends 'home/base.html' %}

{% block content %}
{% load static %}
<style>
  .header{
    height: auto;
  }
  #faculties-nav{
    border-bottom: none;
  }

  #home{
    border-bottom: none;
  }

  #faq-nav{
    border-bottom: none;
  }

  #about-nav{
    border-bottom: 5px solid #FAD02C;
  }
</style>

<h1 id ="title">About Us</h1>

<p id = "desc">Welcome to 2AI incubated by PSG College of Technology, where we embark on a journey to unravel the mysteries of Artificial Intelligence (AI) and empower individuals to thrive in the era of intelligent technologies.
</p>

<h1 id ="title">Our Mission</h1>

<p id = "desc">At 2AI, our mission is to democratize knowledge and make cutting-edge AI education accessible to everyone. We believe that understanding and harnessing the power of Artificial Intelligence is crucial for shaping the future. Our commitment is to inspire, educate, and guide learners on their path to AI mastery.
</p>

<h1 id ="title">Who We Are</h1>

<p id = "desc">We are a team of passionate educators, researchers, and industry experts with a shared enthusiasm for Artificial Intelligence. Our diverse backgrounds in machine learning, data science, and AI development equip us with the knowledge and expertise needed to deliver high-quality educational content.
</p>

<h1 id ="title">Get Started With Us</h1>

<p id = "desc">Are you ready to explore the world of Artificial Intelligence? Join us at 2AI and unlock the doors to a future where AI knowledge is within reach for everyone. Whether you're driven by curiosity, career aspirations, or a desire to innovate, we are here to guide you on your educational journey.
</p>





{% endblock %}